p {
    font-size: 25px;
    font-family: "Lucida Handwriting";
    font-weight: bold;
    color:rgb(255, 186, 121);
    text-align: center;

}
main {
    background-color: rgb(239, 255, 148);
}
footer{
    background-color: rgb(164, 255, 164);
}
header{
    background-color: rgb(255, 159, 242);
}